<div class="container lg-5">
	<%= render "shared/navbar" %>
	<h1>Home Page</h1>
	<%= link_to "Users", users_path, class: "btn btn-secondary" %>
	<%= link_to "Roles", roles_path, class: "btn btn-secondary" %>
	<%= link_to "Category", categories_path, class: "btn btn-secondary" %>
	<%= link_to "Sub Categories", subcategories_path, class: "btn btn-secondary" %>
	<%= link_to "UOM", uoms_path, class: "btn btn-secondary" %>
	<%= link_to "Products", products_path, class: "btn btn-secondary" %>
	<%= link_to "Suppliers", suppliers_path, class: "btn btn-secondary" %>
</div>
